<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
  <h1></h1>
  <div class="container-fluid ">
    <div class="row">

        <div class="col-sm-3">
        <%- include('./partials/sidebar.ejs') %>
        </div>

        <div class="col-sm-9">
          <h1><%= title %></h1>
          
          <p>The following are all the available fruits:</p>
          <% if(fruit_list.length>0){%>
            <ul>
                <% fruit_list.forEach(fruit=>{ %>
                    <a href="<%=fruit.url%>"><%= fruit.name %></a> (<%=fruit.origin%>)
                    <br />
                <% }) %>
            </ul>
            <% } else {%>
                <p> There are no Fruits.</p>
            <% } %>
        </div>
        
        <%- include("./partials/footer") %>
    </div>
</div>


</body>
</html>