<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
  <h1></h1>
  <div class="container-fluid ">
    <div class="row">

        <div class="col-sm-3">
        <%- include('./partials/sidebar.ejs') %>
        </div>

        <div class="col-sm-9">
          <h1><%= title %></h1>
          <p>The following are all the available fruits:</p>
          <% if(fruitinstance_list.length>0){%>
           
                <% fruitinstance_list.forEach(fruitinstance=>{ %>
                    <%=fruitinstance.arrival_formatted%>:  <a href="<%=fruitinstance.url%>"><%= fruitinstance.fruit.name %></a> 
                    <small>(<%=fruitinstance.quantity_formatted%>)</small>
                    <br/>
                <% }) %>
            
            <% } else {%>
                <p> There are no Fruits.</p>
            <% } %>
        </div>
        
        <%- include("./partials/footer") %>
    </div>
</div>


</body>
</html>